* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
article {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background: url(img.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
nav {
  margin: 13px;
  padding: 10px;
}
.nav {
  display: flex;
  float: right;
  border: 10px;
  gap: 1rem;
  margin: 5px;
  padding: 15px;
}
@media screen and (max-width: 650px) {
  .nav {
    display: none;
  }
}
.nav a {
  text-decoration: none;
  color: antiquewhite;
}
.nav a:hover {
  background-color: gray;
  border-radius: 75px;
  padding: 10px;
  margin: 5px;
}
.logo {
  color: antiquewhite;
  margin: 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}
.home {
  margin: 230px;
  margin-left: 100px;
  padding: 25px;
}
@media screen and (max-width: 650px) {
  .home {
    margin-left: auto;
  }
}
.home-content {
  color: antiquewhite;
  font-weight: 600;
}
p {
  padding: 5px;
  font-family: sans-serif;
  width: 500px;
  line-height: 1rem;
}
@media screen and (max-width: 650px) {
  p {
    width: 300px;
    font-size: 15px;
  }
}
h3 {
  margin: 3px 0px;
}
.buttons {
  width: 700px;
  color: aliceblue;
  margin: 5px;
  display: flex;
  text-decoration: none;
  gap: 1rem;
  padding: 4px;
  font-size: 22px;
}
